body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Start Header Part */
.Conmebol {
    background-color: rgb(35, 37, 160);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 70px;

}

.Text {
    padding-top: 121px;
    padding-left: 156px;
    padding-bottom: 240px;

}

.Copa-America {
    font-size: 64px;
    font-weight: bold;
    line-height: 100px;
    color: #FFFFFF;
    padding-bottom: 27px;
    padding-right: 80px;
}

.button-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;

}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 24px;
    padding-bottom: 127px;
}

.fa-arrow-right {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding-left: 8px;

}

.Player-man {
    padding-bottom: 86px;
    padding-right: 140px;
    padding-top: 120px;
}

.Player-man img {
    width: 600px;
    height: 550px;
}

.Player-man:hover img {
    width: 550px;
    height: 500px;
    transition: 2s;
    transform: scale(1.25);
}

img {
    width: 100%;
}

/* End Header Part */

.container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    /* grid-template-columns:1fr 1fr 1fr; */
    margin: 70px 210px 165px 180px;
    padding-top: 70px;
}

.players {
    background: #FFFFFF;
    width: 300px;
    height: 426px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 45px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 50px;

}

.player img {
    width: 300px;
    height: 256px;
}

img {
    width: 100%;
}

.player-name {
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
    margin: 10px 0px;
    line-height: 40px;
}

.player-text {
    text-align: left;
    padding-right: 15px;
    font-size: 16px;
    line-height: 26px;

}

/* Brand Product */
hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 35px;
}

.partners {
    text-align: center;
    font-size: 25px;
}

.Brand-product {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 12%;
    margin-bottom: 80px;
}

.Brand-product img {
    height: 100px;
    width: 100px;
}

img {
    width: 100%;
}

/*-------------------
 Footer part--------------- */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.football img {
    width: 483.87px;
    height: 110px;
    margin: 20px 0px;
}

.Social-icon {
    padding-top: 20px;

}

.fab {
    font-size: 20px;
    padding: 0 8px;
    height: 30px;
    width: 30px;
    color: gray;
    border-radius: 15px;


}

.copyright {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 63px;
    font-weight: 400;
}

/* Media Queries */

/* Mobile Device */
@media only screen and (max-width:668px) {

    .Conmebol {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .Text {
        margin-right: 20%;

    }

    .Copa-America {
        font-size: 40px;
    }

    .button-link a {
        padding-bottom: 100px;
    }

    .Player-man img {
        Width: 250px;
        Height: 250px;
        display: flex;
        align-items: center;
        padding-left: 30%;
        padding-bottom: 65px;
    }

    .Player-man:hover img {
        width: 260px;
        height: 260px;
        transform: scale(1.25);
    }

    .Conmebol,
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .players {
        margin-right: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    /* Brand Section */
    .Brand {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .Brand-product {
        display: grid;
        padding: 20px;
        overflow: hidden;
        margin-right: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    /* Foote Setction */
    footer {
        display: flex;
        flex-wrap: wrap;
    }

    .football {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .football img {
        height: 200px;
        width: 200px;
        margin-left: 80px;

    }
}

/* Tablet Devices */
@media only screen and (min-width:668px) and (max-width:992px) {
    .Conmebol {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .Copa-America {
        font-size: 45px;
    }

    .Player-man img {
        Width: 400px;
        Height: 400px;
        display: flex;
        align-items: center;
        padding-bottom: 65px;
    }

    .Player-man:hover img {
        width: 320px;
        height: 320px;
        transform: scale(1.25);
        margin-right: 15%;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }

    .players {
        margin-right: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .Brand-product {
        display: grid;
        padding: 0 20px;
        margin-right: 10px;
        grid-template-columns: repeat(3, 1fr);
    }
}